GENLAYER_RPC_URL=https://studio.genlayer.com/api
GENLAYER_CHAIN_ID=61999
GENLAYER_EXPLORER_URL=https://explorer-studio.genlayer.com
DEPLOYER_ADDRESS=0x947a25754b08d09b770a77f159b92ecc1e83d9b3
CONTRACT_ADDRESS=
DEPLOYMENT_TX_HASH=
